body {
  margin: 0;
}

.image-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 4em;
  text-transform: uppercase;
  margin: 0;
  font-family: Sen;
  text-transform: uppercase;
  text-align: center;
}
